@page
@using GW2Crafting.Common
@model GW2Crafting.Pages.BankModel
@{
    ViewData["Title"] = "Bank";
}
<div class="text-center">
    <h3 class="display-8">@ViewData["title"]</h3>
</div>
<div id="app-2">
  <table class="table">
     <thead class="thead-light">
        <tr>
            <td></td>
            <td>Id</td>
            <td>Name</td>
            <td>Charges</td>
            <td>Count</td>
            <td>Buy Unit Price</td>
            <td>Sell Unit Price</td>
            <td>Binding</td>
            <td>Bound To</td>
            <td class="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Description</td>
            <td>Type</td>
            <td>Level</td>
            <td>Rarity</td>
            <td>Vendor Value</td>
            <td>Flags</td>
        </tr>
     </thead>
     @foreach (var item in Model.Items.Where(w => w.Count > 0).OrderByDescending(w => w.UnitSellPrice))
        {
            <tr>
                <td><img src=@item.Icon widht=32 height=32/></td>
                <td><a href="https://api.guildwars2.com/v2/items/@item.Id" target="_blank">@item.Id</a></td>
                <td>@item.Name</td>
                <td>@item.Charges</td>
                <td>@item.Count</td>
                <td>@item.BuyUnitPrice</td>
                <td>@item.UnitSellPrice</td>
                <td>@item.Binding</td>
                <td>@item.BoundTo</td>
                <td class="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.Description</td>
                <td>@item.Type</td>
                <td>@item.Level</td>
                <td>@item.Rarity</td>
                <td>@item.VendorValue</td>
                <td>@item.Flags.EnumToString()</td>
            </tr>
        }
    </table>
</div>