@page
@model GW2Crafting.Pages.RecipesModel
@{
    ViewData["Title"] = $"Guild Wars 2 Crafting - Known Recipes for {Model.CharacterName}";
}
<div class="text-center">
    <h3 class="display-8">@ViewData["title"]</h3>
</div>
<div id="app-2">
  <a asp-page="Index">Select another action</a>
  <table class="table">
     <thead class="thead-light">
        <tr>
            <td></td>
            <td>Output Id</td>
            <td>Output Name</td>
            <td>Listing Sell Price</td>
            <td>Listing Ingredients Price</td>
            <td>Possible Profit</td>
            <td>Disciplines</td>
            <td>Minimum Rating</td>
            <td>Items Created</td>
        </tr>
     </thead>
    @foreach (var item in Model.Recipes.OrderByDescending(w => w.ListingSellPrice - w.ListingIngredientsPrice))
    {
    <tr>
        <td><img src=@item.OutputItem.Icon widht=32 height=32/></td>
        <td><a href="https://api.guildwars2.com/v2/items/@item.OutputItem.Id" target="_blank">@item.OutputItem.Id</a></td>
        <td>
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Description: @item.OutputItem.Description, Type: @item.OutputItem.Type, Level: @item.OutputItem.Level, Rarity: @item.OutputItem.Rarity, Vendor Value: @GW2Crafting.Common.Listings.DisplayablePrice(item.OutputItem.VendorValue) Flags: @string.Join(",",item.OutputItem.Flags)">
                <a asp-page="RecipeDetails" asp-route-id=@item.Original.Id>@item.OutputItem.Name</a>
            </span>
        </td>
        <td>@GW2Crafting.Common.Listings.DisplayablePrice(item.ListingSellPrice)</td>
        <td>@GW2Crafting.Common.Listings.DisplayablePrice(item.ListingIngredientsPrice)</td>
        <td>@GW2Crafting.Common.Listings.DisplayablePrice(item.ListingSellPrice-item.ListingIngredientsPrice)
        <td>@string.Join(",",item.Original.CraftingDisciplines)</td>
        <td>@item.Original.MinRating</td>
        <td>@item.Original.OutputItemCount</td>
    </tr>
    }
  </table>
</div>