@page
@model GW2Crafting.Pages.WalletModel
@{
    ViewData["Title"] = "Guild Wars 2 Crafting - Wallet";
}
<div class="text-center">
    <h3 class="display-8">@ViewData["title"]</h3>
</div>
<div id="app-2">
  <a asp-page="Index">Select another action</a>
  <table class="table">
     <thead class="thead-light">
        <tr>
            <td></td>
            <td>Id</td>
            <td>Name</td>
            <td>Count</td>
            <td class="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Description</td>
            <td>Type</td>
            <td>Level</td>
            <td>Rarity</td>
            <td>Vendor Value</td>
            <td>Flags</td>
        </tr>
     </thead>
     @foreach (var item in Model.Items)
        {
            <tr>
                <td><img src=@item.Icon widht=32 height=32/></td>
                <td><a href="https://api.guildwars2.com/v2/items/@item.Id" target="_blank">@item.Id</a></td>
                <td>@item.Name</td>
                @{
                    if (item.Id == 1) { 
                        <td>@GW2Crafting.Common.Listings.DisplayablePrice(item.Value)</td>
                    }
                    else
                    {
                        <td>@item.Value</td>
                    }
                }
                <td class="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">@item.Description</td>
            </tr>
        }
    </table>
</div>
